##Final project Vivadata : Celeb Voice, speaker recognition
#Virtual env
venv/

#Data
final-project-data/
mfcc_images/

#Jupyter notebook save
*checkpoint.ipynb

###Anomaly Detection

##Credit card fraud detection
*data/
