##Final project Vivadata : Celeb Voice, speaker recognition
#Virtual env
venv/

#Data
final-project-data/
mfcc_images/

final-project-vivadata-03-2020/.ipynb_checkpoints/Final-Project-checkpoint.ipynb

###Anomaly Detection

##Credit card fraud detection
*data/
